 <?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-paytab" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>paytab</name>

    <js-module name="paytab" src="www/paytab.js">
        <clobbers target="paytab" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="paytab">
                <param name="android-package" value="cordova.plugin.paytab.paytab" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/paytab.java" target-dir="src/cordova/plugin/paytab" />
    </platform>


    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="paytab">
                <param name="ios-package" value="paytab" />
            </feature>
        </config-file>
        <dependency id="cordova-plugin-add-swift-support" spec="~1.7.1" />
        <source-file src="src/ios/paytab.swift"/>
        <framework src="src/ios/paytabs-iOS.framework" custom="true" />
        <framework src="src/ios/Resources.bundle" custom="true" />
        <framework src="BIObjCHelpers" type="podspec" spec=""/>
        <framework src="AFNetworking" type="podspec" spec=""/>
        <framework src="Mantle" type="podspec" spec=""/>
        <framework src="Reachability" type="podspec" spec=""/>
        <framework src="SDWebImage" type="podspec" spec=""/>
        <framework src="DGActivityIndicatorView" type="podspec" spec=""/>
        <framework src="Lockbox" type="podspec" spec=""/>
        <framework src="YLGIFImage" type="podspec" spec=""/>
        <framework src="SBJson" type="podspec" spec=""/>
        <framework src="PINCache" type="podspec" spec=""/>
        <framework src="IQKeyboardManager" type="podspec" spec=""/>
        
    </platform>
</plugin>
